@import "../../responsive.scss";

.listPage{
    display: flex;
    height: 100%;

    .listContainer{
        flex:3;
        height: 100%;

        .wrapper{
           height: 100%;
           padding-right: 50px;
           display: flex;
           flex-direction: column;
           gap: 50px;
           overflow-y: scroll;
           padding-bottom: 50px; 
        }
    }

    .rightContainer{
        flex:2;
        background-color: greenyellow;
        box-shadow: 10px 10px 10px 10px gray;

        @include md{
            display: none;
        }

    }
}