.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        display: flex;
        justify-content: center;
        font-weight: 300;
        font-size: 24;
        gap: 10px;
    }

    b{
        color: #e7b638;
    }

    .item{
        display: flex;
        flex-direction: column;
        gap: 2px;

        label{
            font-size: 15px;
        }

        input{
            width: 100px;
            padding: 10px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
            font-size: 14px;
        }

    }

    .top{

        input{
            width: 100%;
        }

    }

    .bottom{
        display: flex;
        justify-content: center;
        gap: 20px;

        label{
            display: flex;
            justify-content: center;
        }

        button{
            width: 100px;
            padding: 10px;
            border: none;
            cursor: pointer;
            background-color: rgb(0, 217, 255);
            border-radius: 10px;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    
}